@import "tailwindcss";

body {
  width: 360px;
  max-height: 580px;
  overflow-y: auto;
  background-color: #fafafa;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #09090b;
  }
}
